/**
 * Copyright 2016 Locator Inc. All Rights Reserved.
 *
 */

body {
    margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
    border: 0px;
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}

.locator-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.locator-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}


.mdl-textfield--expandable {
    width: auto;
}

.locator-mobile-title {
    display: none !important;
}


.locator-logo-image {
    height: 45px;
    width: 140px;
}


.locator-header {
    overflow: visible;
    background-color: #424242;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.locator-header-row {
    box-shadow: 0px 0px 3px 1px #1c1c1c;
}

.locator-header .material-icons {
    color: #767777 !important;
}

.locator-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
}

.locator-header .mdl-navigation__link {
    color: #4CAF50;
    font-weight: 700;
    font-size: 14px;
}

.locator-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.locator-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}

.locator-search-box.is-focused + .locator-navigation-container {
    opacity: 0;
    width: 100px;
}


.locator-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.locator-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
    background-color: #e0e0e0 !important;
}

.locator-search-box {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.locator-content{
    background-color: #4f4f4f;
}

.locator-drawer {
    border-right: none;
    background-color: #424242;
}

.locator-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.locator-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #4CAF50;
}

.locator-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #4CAF50;
}

.locator-drawer .mdl-layout-title {
    position: relative;
    background: #212121;
    height: 65px;
}

.locator-drawer .locator-logo-image {
    position: absolute;
    bottom: 8px;
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}


.locator-image-link {
    text-decoration: none;
}

.locator-link {
    text-decoration: none;
    color: #4CAF50 !important;
}

.locator-link:hover {
    color: #7cb342 !important;
}

.locator-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.locator-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
}

.locator-alt-link:hover {
    color: #00bfa5 !important;
}

.locator-alt-link .material-icons {
    position: relative;
    top: 6px;
}


.locator-footer {
    background-color: #424242;
    position: relative;
}

.locator-footer a:hover {
    color: #616161;
}

.locator-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
}

.locator-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
}

.locator-footer .mdl-mega-footer--bottom-section {
    position: relative;
}

.locator-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}

.locator-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
}


.locator-link-menu:hover {
    cursor: pointer;
}
/* Locator Custom color*/
.locator-container {
    margin: auto;
    width: 90%;
}

.locator-card {
    background-color: #E0E0E0
}

.locator-btn {
    background-color: #4aa04e !important;
}
/*END Locator Custom color*/

/**** Mobile layout ****/
@media (max-width: 900px) {
    .locator-navigation-container {
        display: none;
    }

    .locator-title {
        display: none !important;
    }

    .locator-container {
        margin: auto;
        width: 100%;
    }

    .locator-mobile-title {
        display: block !important;
        position: absolute;
        left: calc(50% - 70px);
        top: 12px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
    .locator.locator-search-box.is-focused ~ .locator-mobile-title,
    .locator-search-box.is-focused + .locator-navigation-container + .locator-mobile-title {
        opacity: 0;
    }

    .locator-more-button {
        display: none;
    }

    .locator-search-box.is-focused {
        width: calc(100% - 48px);
    }

    .locator-search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }

    .locator-footer .mdl-mega-footer--bottom-section {
        display: none;
    }
}
