<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}Locator{% endblock %}</title>
    {% block stylesheets %}
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('assets/css/materialize.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ asset('assets/css/base-style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}
</head>
<body>

    {% block header %}
        <div class="navbar-fixed">
            <nav class="locator-nav" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="#" class="brand-logo">
                        <img class="responsive-img" src="{{ asset('assets/images/locator-logo.png')}}"></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Your shop</a></li>
                        <li><a href="#">Popular</a></li>
                        <li><a href="#">All Shops</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>

                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#">Your shop</a></li>
                        <li><a href="#">Popular</a></li>
                        <li><a href="#">All Shops</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>
    {% endblock %}

    <main>
        {% block body %}

        {% endblock %}
    </main>

    {% block footer %}
        <footer class="page-footer locator-footer">
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Locator
                    <a class="text-lighten-4 right" href="#!">Privacy Policy</a>
                </div>
            </div>
        </footer>
    {% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
    <script src="{{ asset('assets/js/init.js') }}"></script>
{% endblock %}
</body>
</html>
