{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="card grey lighten-2">
                    <div class="card-content grey-text text-darken-3">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}