{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                {% if app.session.flashBag.has('success') %}
                    <div id="card-alert" class="card green lighten-5">
                        <div class="card-content green-text">
                            {% for msg in app.session.flashBag.get('success') %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        </div>
                        <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('failure') %}
                    <div id="card-alert" class="card red lighten-5">
                        <div class="card-content red-text">
                            {% for msg in app.session.flashBag.get('failure') %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        </div>
                        <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endif %}

                <div class="card grey lighten-2">
                    <div class="card-content grey-text text-darken-3">
                        <span class="card-title">Contact Us</span>
                        {{ form_start(contactUsForm) }}
                        {% if contactUsForm.vars.errors is not empty %}
                            <div id="card-alert" class="card red lighten-5">
                                <div class="card-content red-text">
                                   {{ form_errors(contactUsForm) }}
                                </div>
                                <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">account_circle</i>
                                {{ form_widget(contactUsForm.firstName, {
                                    'attr': {
                                        'class' : 'validate'
                                    }
                                }) }}
                                {{ form_label(contactUsForm.firstName) }}
                                {{ form_errors(contactUsForm.firstName) }}
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">account_circle</i>
                                {{ form_widget(contactUsForm.lastName, {
                                    'attr': {
                                        'class' : 'validate'
                                    }
                                }) }}
                                {{ form_label(contactUsForm.lastName) }}
                                {{ form_errors(contactUsForm.lastName) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">email</i>
                                {{ form_widget(contactUsForm.email, {
                                    'attr': {
                                        'class' : 'validate'
                                    }
                                }) }}
                                {{ form_label(contactUsForm.email) }}
                                {{ form_errors(contactUsForm.email) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">subject</i>
                                {{ form_widget(contactUsForm.subject) }}
                                {{ form_label(contactUsForm.subject) }}
                                {{ form_errors(contactUsForm.subject) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12">
                                <i class="material-icons prefix">mode_edit</i>
                                {{ form_widget(contactUsForm.message, {
                                    'attr': {
                                        'class' : 'materialize-textarea',
                                        'length' : '120'
                                    }
                                }) }}
                                {{ form_label(contactUsForm.message) }}
                                {{ form_errors(contactUsForm.message) }}
                            </div>
                        </div>
                        {{ form_rest(contactUsForm) }}
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-light" type="submit" name="send" id="send">Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                    {{ form_end(contactUsForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}